:root {
  --content-width: 1680px;
  --content-padding: 16px;
}

.collection-products {
  padding: 0 var(--content-padding);
  max-width: calc(var(--content-width) + var(--content-padding) * 2);
  margin: 0 auto;

  + .collection-products,
  &:first-of-type {
    margin-top: 100px;
  }
}

.collection-products__wrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .collection-products__wrapper {
    gap: 32px;
    display: block;
  }

  .collection-products__banner {
    width: 100%;
    margin-bottom: 32px;
  }
}

.collection-products__banner {
  position: relative;

  &:has(.collection-products__banner-placeholder) {
    .collection-products__banner-title,
    .collection-products__banner-count {
      color: #000;
    }
  }
}

.collection-products__banner-picture,
.collection-products__banner-placeholder {
  aspect-ratio: 400 / 582;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  max-width: 100%;
}

@media screen and (min-width: 767px) {
  .collection-products__banner-picture,
  .collection-products__banner-placeholder {
    min-width: 400px;
    max-width: 400px;
  }
}

.collection-products__banner-image,
.collection-products__banner-placeholder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-products__banner-info {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.collection-products__banner-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .collection-products__banner-title {
    font-size: 18px;
  }
}

.collection-products__banner-count {
  font-size: 16px;
  line-height: 1.3px;
}

.collection-products__item {
  position: relative;
}

.collection-products__item-swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-swatches {
    margin-bottom: 8px;
  }
}

.collection-products__item-swatch {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 3px;

  &.is-active {
    border-color: #000;
  }

  button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
}

.collection-products__item-title {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.collection-products__item-price-info {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.collection-products__item-price {
  font-size: 16px;
  color: #e41616;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-price {
    font-size: 14px;
  }
}

.collection-products__item-price--old {
  text-decoration: line-through;
  color: #9d9d9d;
  font-weight: 400;
}

.collection-products__item-tags,
.collection-products__item-actions {
  position: absolute;
  top: 16px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-tags,
  .collection-products__item-actions {
    top: 8px;
  }
}

.collection-products__item-tags {
  left: 16px;
  gap: 4px;
  color: #000;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-tags {
    left: 8px;
  }
}

.collection-products__item-tag {
  padding: 3px 11px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #fff;
  text-align: center;
}

.collection-products__item-tag--sale {
  background: #e41616;
  border: none;
  color: #fff;
}

.collection-products__item-actions {
  right: 16px;
  gap: 8px;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-actions {
    right: 8px;
    gap: 4px;
  }
}

@media screen and (min-width: 768px) {
  .collection-products__item-actions {
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.collection-products__item-action {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 1023px) {
  .collection-products__item-action {
    width: 32px;
    height: 32px;
  }
}

.collection-products__item-action:hover::after {
  transform: scale(1.1);
}

.collection-products__item-action::after {
  content: "";
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="iso-8859-1"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg fill="%23000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 902.86 902.86" xml:space="preserve"><g><g><path d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z"/><path d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742S619.162,694.432,619.162,716.897z"/></g></g></svg>')
    no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1023px) {
  .collection-products__item-action::after {
    width: 16px;
    height: 16px;
  }
}

.collection-products__item-image-wrapper {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}

.collection-products__item:hover {
  .collection-products__item-image,
  .collection-products__item-placeholder-svg {
    transform: scale(1.3);
  }

  .collection-products__item-actions {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.collection-products__item-picture,
.collection-products__item-placeholder {
  aspect-ratio: 1/1;
}

.collection-products__item-image,
.collection-products__item-placeholder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.swiper {
  width: 100%;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.swiper-pagination-bullet {
  transition: width 0.3s ease;
  cursor: pointer;
  margin: 0 !important;

  &.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 16px;
    background: #000;
  }
}

.swiper-button-prev,
.swiper-button-next {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 48px !important;
  height: 64px !important;
  background: #fff;
  border: 1px solid #dcdcdc;
  backdrop-filter: blur(6px);
  border-radius: 12px;

  svg {
    display: none;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.48167 11.31L1.135 6.96333C0.621667 6.45 0.621667 5.61 1.135 5.09667L5.48167 0.75" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 1023px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

.swiper-button-prev {
  left: 19px !important;
}

.swiper-button-next {
  right: 32px !important;
}

.swiper-button-next::after {
  transform: scale(-1, 1);
}
