.collection-products {
  padding: 0 var(--content-padding);
  max-width: calc(var(--content-width-wide) + var(--content-padding) * 2);
  margin: 0 auto;

  + .collection-products,
  &:first-of-type {
    margin-top: 100px;
  }

  --focus-opacity: 1;
}

.collection-products__wrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .collection-products__wrapper {
    gap: 32px;
    display: block;
  }

  .collection-products__banner {
    width: 100%;
    margin-bottom: 32px;
  }
}

.collection-products__banner {
  position: relative;

  &:has(.collection-products__banner-placeholder) {
    .collection-products__banner-title,
    .collection-products__banner-count {
      color: var(--black);
    }
  }
}

.collection-products__banner-picture,
.collection-products__banner-placeholder {
  aspect-ratio: 343 / 429;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .collection-products__banner-picture,
  .collection-products__banner-placeholder {
    min-width: 400px;
    max-width: 400px;
    aspect-ratio: 400 / 582;
  }
}

.collection-products__banner-image,
.collection-products__banner-placeholder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  position: absolute;
  inset: 0;
}

.collection-products__banner-info {
  color: var(--white);
  position: absolute;
  bottom: 0;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.collection-products__banner-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .collection-products__banner-title {
    font-size: 18px;
  }
}

.collection-products__banner-count {
  font-size: 16px;
  line-height: 1.3;
}

.collection-products__item {
  position: relative;
}

.collection-products__item-swatches {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-swatches {
    margin-bottom: 8px;
  }
}

.collection-products__item-swatch {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  background: none;

  &.is-active {
    border-color: var(--black);
  }
}

.collection-products__item-swatch-color {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  flex-shrink: 0;
}

@media screen and (min-width: 1024px) {
  .collection-products__item-swatch {
    width: 20px;
    height: 20px;
  }

  .collection-products__item-swatch-color {
    width: 12px;
    height: 12px;
  }
}

.collection-products__item-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.collection-products__item-price-info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.collection-products__item-price {
  font-size: 16px;
  color: var(--red);
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-price {
    font-size: 14px;
    color: var(--black);
  }
}

.collection-products__item-price--old {
  text-decoration: line-through;
  color: var(--medium-gray);
  font-weight: 400;
}

.collection-products__item-tags,
.collection-products__item-actions {
  position: absolute;
  top: 16px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-tags,
  .collection-products__item-actions {
    top: 8px;
  }
}

.collection-products__item-tags {
  left: 16px;
  gap: 4px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-tags {
    left: 8px;
    max-width: 65%;
  }
}

.collection-products__item-tag {
  padding: 3px 11px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  line-height: 1.2;
  border: 1px solid var(--light-gray);
  background: var(--white);
  text-align: center;
}

.collection-products__item-tag--sale {
  background: var(--red);
  color: var(--white);
  border: none;
  padding: 4px 11px;
}

.collection-products__item-actions {
  right: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-actions {
    right: 8px;
    gap: 4px;
  }
}

@media screen and (min-width: 768px) {
  .collection-products__item-actions {
    transition: all 0.3s ease;
    opacity: 0;
  }
}

.collection-products__item-action {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:hover::after {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1024px) {
  .collection-products__item-action {
    width: 32px;
    height: 32px;
  }
}

.collection-products__item-action::after {
  content: "";
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
  background: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="iso-8859-1"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg fill="%23000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 902.86 902.86" xml:space="preserve"><g><g><path d="M671.504,577.829l110.485-432.609H902.86v-68H729.174L703.128,179.2L0,178.697l74.753,399.129h596.751V577.829z M685.766,247.188l-67.077,262.64H131.199L81.928,246.756L685.766,247.188z"/><path d="M578.418,825.641c59.961,0,108.743-48.783,108.743-108.744s-48.782-108.742-108.743-108.742H168.717c-59.961,0-108.744,48.781-108.744,108.742s48.782,108.744,108.744,108.744c59.962,0,108.743-48.783,108.743-108.744c0-14.4-2.821-28.152-7.927-40.742h208.069c-5.107,12.59-7.928,26.342-7.928,40.742C469.675,776.858,518.457,825.641,578.418,825.641z M209.46,716.897c0,22.467-18.277,40.744-40.743,40.744c-22.466,0-40.744-18.277-40.744-40.744c0-22.465,18.277-40.742,40.744-40.742C191.183,676.155,209.46,694.432,209.46,716.897z M619.162,716.897c0,22.467-18.277,40.744-40.743,40.744s-40.743-18.277-40.743-40.744c0-22.465,18.277-40.742,40.743-40.742S619.162,694.432,619.162,716.897z"/></g></g></svg>')
    no-repeat;
  background-size: contain;
}

.collection-products__item-action--quick-view::after {
  background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5819 12C15.5819 13.98 13.9819 15.58 12.0019 15.58C10.0219 15.58 8.42188 13.98 8.42188 12C8.42188 10.02 10.0219 8.42004 12.0019 8.42004C13.9819 8.42004 15.5819 10.02 15.5819 12Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M11.9998 20.27C15.5298 20.27 18.8198 18.19 21.1098 14.59C22.0098 13.18 22.0098 10.81 21.1098 9.39997C18.8198 5.79997 15.5298 3.71997 11.9998 3.71997C8.46984 3.71997 5.17984 5.79997 2.88984 9.39997C1.98984 10.81 1.98984 13.18 2.88984 14.59C5.17984 18.19 8.46984 20.27 11.9998 20.27Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1024px) {
  .collection-products__item-action::after {
    width: 16px;
    height: 16px;
  }
}

.collection-products__item-link {
  transition: opacity 0.3s ease;
}

.collection-products__item-image-wrapper {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}

.collection-products__item:hover,
.collection-products__item:has(.collection-products__item-action:focus-visible),
.collection-products__item:has(.collection-products__item-link:focus-visible) {
  .collection-products__item-image,
  .collection-products__item-placeholder-svg {
    transform: scale(1.3);
  }

  .collection-products__item-actions {
    opacity: 1;
  }
}

.collection-products__item-picture,
.collection-products__item-placeholder {
  aspect-ratio: 1/1;
  position: relative;
}

.collection-products__item-image,
.collection-products__item-placeholder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  position: absolute;
}

.swiper {
  width: 100%;
}

.collection-products .swiper-pagination {
  position: relative;
  margin-top: 42px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;

  &.swiper-pagination-bullets-dynamic {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-pagination {
    margin-top: 32px;
  }
}

.collection-products .swiper .swiper-pagination {
  &:not(.swiper-pagination-bullets-dynamic) {
    > .swiper-pagination-bullet {
      transition: width 0.3s ease;
      margin: 0;

      &.swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 16px;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background: var(--black);
  }
}

.collection-products .swiper-button-prev,
.collection-products .swiper-button-next {
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 48px;
  height: 64px;
  background: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 12px;

  svg {
    display: none;
  }

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.48167 11.31L1.135 6.96333C0.621667 6.45 0.621667 5.61 1.135 5.09667L5.48167 0.75" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 1024px) {
  .collection-products .swiper-button-prev,
  .collection-products .swiper-button-next {
    display: none;
  }
}

.collection-products .swiper .swiper-button-prev {
  left: 19px;
}

.collection-products .swiper .swiper-button-next {
  right: 32px;

  &::after {
    transform: scale(-1, 1);
  }
}

.collection-products a:focus-visible,
.collection-products button:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 2px;
  opacity: var(--focus-opacity);
}

.collection-products__item-link {
  --focus-opacity: 0.7;
}
