.mini-cart {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 30%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9999;
  transition:
    visibility 0s linear 0.25s,
    opacity 0.25s 0s,
    transform 0.25s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transition:
      visibility 0s linear 0s,
      opacity 0.25s 0s;
    pointer-events: all;

    .mini-cart__inner {
      transform: translateX(0);
    }
  }

  .mini-cart__inner {
    height: 100%;
    transition: transform 0.3s ease;
    background: var(--white);
    overflow: hidden;
    width: 100%;
    position: fixed;
    transform: translateX(110%);

    @media screen and (min-width: 768px) {
      border-radius: 16px;
      right: 16px;
      top: 16px;
      width: 480px;
      height: calc(100% - 32px);
    }
  }

  .mini-cart__form {
    overflow-y: auto;
    scrollbar-width: none;
  }

  .mini-cart__header {
    display: flex;
    align-items: center;
    color: var(--black);
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 11;
    background: var(--white);
  }

  .mini-cart__promo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .mini-cart__promo-text {
    color: var(--black);

    strong {
      font-weight: 500;
    }
  }

  .mini-cart__header,
  .mini-cart__promo {
    padding: 16px;

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
    }
  }

  .mini-cart__promo-icon {
    max-width: 24px;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .mini-cart__close-btn {
    margin-left: auto;
    background: none;
    border: none;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    background: var(--white);
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1;
      background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M12 4L4 12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 4L12 12" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
      background-size: contain;
    }
  }

  .mini-cart__header-title {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
  }

  .mini-cart__list-items {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid var(--light-gray);
    padding: 0 16px 16px;

    @media screen and (min-width: 768px) {
      padding: 0 24px 24px;
      margin-top: 24px;
    }
  }

  .mini-cart__upsell-products {
    margin-top: 16px;
    padding: 0 16px 16px;
    border-bottom: 1px solid var(--light-gray);

    @media screen and (min-width: 768px) {
      margin-top: 24px;
      padding: 0 24px 24px;
    }
  }

  .mini-cart__upsell-products-navigation,
  .mini-cart__empty-promo-products-navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;

    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      width: 40px;
      aspect-ratio: 1;
      border-radius: 8px;
      border: 1px solid var(--light-gray);
      margin: 0;
      left: unset;
      top: unset;
      right: unset;

      svg {
        display: none;
      }

      &::before {
        content: "";
        width: 16px;
        aspect-ratio: 1;
        display: block;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M5.93994 13.28L10.2866 8.9333C10.7999 8.41997 10.7999 7.57997 10.2866 7.06664L5.93994 2.71997" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
        background-size: contain;
      }
    }

    .swiper-button-prev {
      &::before {
        transform: scale(-1, 1);
      }
    }
  }

  .mini-cart__upsell-products-header,
  .mini-cart__empty-promo-products-header {
    display: flex;
    align-items: center;
    color: var(--black);
    gap: 10px;
    margin-bottom: 24px;
  }

  .mini-cart__upsell-products-title,
  .mini-cart__empty-promo-products-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 1.3;
  }

  .mini-cart__empty {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0 16px 24px;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
      gap: 56px;
      padding: 0 24px 24px;
    }
  }

  .mini-cart__empty-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mini-cart__empty-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    margin-bottom: 0;
  }

  .mini-cart__empty-text {
    margin-top: 12px;
    color: var(--gray);
    font-size: 12px;
  }

  .mini-cart__empty-image-wrapper {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 40px;
    background: var(--lighter-gray);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mini-cart__empty-image {
    max-width: 32px;
    object-fit: contain;
  }

  .mini-cart__item,
  .mini-cart__upsell-products__item {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
    position: relative;

    &:has(.mini-cart__item-title:hover, .mini-cart__item-image-wrapper:hover, .mini-cart__item-placeholder:hover) {
      .mini-cart__item-image,
      .mini-cart__item-image-svg {
        transform: scale(1.4);
      }
    }
  }

  .mini-cart__upsell-products__item {
    .mini-cart__actions {
      margin-top: 4px;
    }

    .mini-cart__item-title {
      max-width: 100%;
    }

    .mini-cart__item-image-wrapper {
      max-width: 80px;
    }

    .mini-cart__item-price-container {
      display: flex;
      gap: 8px;
    }
  }

  .mini-cart__upsell-products__button {
    border: 1px solid var(--black);
    padding: 8px 16px;
    border-radius: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
    background: var(--white);
    transition:
      color 0.3s ease,
      background 0.3s ease;
    font-family: "Inter", sans-serif;

    &:hover {
      color: var(--white);
      background: var(--black);
    }

    &:disabled {
      cursor: not-allowed;
      background: var(--medium-gray);
      border-color: var(--medium-gray);
      color: var(--white);
    }
  }

  .mini-cart__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mini-cart__item-image-wrapper,
  .mini-cart__item-placeholder {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    max-width: 100px;
    border-radius: 8px;
    aspect-ratio: 1;
    position: relative;
  }

  .mini-cart__item-image,
  .mini-cart__item-image-svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    transition: transform 1s ease;
  }

  .mini-cart__item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .mini-cart__item-title {
    margin: 0 0 6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
    line-height: 1.5;
    margin-bottom: 8px;
    max-width: 90%;
  }

  .mini-cart__item-variant-title {
    color: var(--medium-gray);
    margin: 0 0 8px 0;
    line-height: 1.3;
  }

  .mini-cart__footer {
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
    border-top: 1px solid var(--light-gray);

    @media screen and (min-width: 768px) {
      padding: 16px 16px 24px;
    }
  }

  .mini-cart__tax-text {
    font-size: 12px;
    line-height: 1.2;
    color: var(--gray);
    margin: 0;
  }

  .mini-cart__terms-conditions {
    display: flex;
    align-items: center;
    color: var(--black);
    gap: 12px;

    a {
      text-decoration: underline;
      color: inherit;
    }

    label {
      cursor: pointer;
    }
  }

  .mini-cart__terms-conditions-input {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 4px;
    background: var(--yellow);
    cursor: pointer;
    margin: 0;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1;
      transform: scale(0);
      transition: transform 0.1s ease-in-out;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
      background-size: contain;
      display: block;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  .mini-cart__checkout {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    border-radius: 32px;
  }

  .mini-cart__item-price-container {
    font-size: 16px;

    &:has(.mini-cart__item-compare-price) {
      .mini-cart__item-price {
        color: var(--red);
      }
    }
  }

  .mini-cart__actions {
    align-items: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
    color: var(--black);
    flex-wrap: wrap;
  }

  .mini-cart__error-message {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--red);
    font-size: 12px;

    &.is-visible {
      opacity: 1;
    }
  }

  .mini-cart__item-price {
    font-weight: 500;
  }

  .mini-cart__item-compare-price {
    text-decoration: line-through;
    color: var(--medium-gray);
  }

  .mini-cart__free-shipping {
    padding: 16px;
    color: var(--gray);

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
    }
  }

  .mini-cart__free-shipping-amount,
  .mini-cart__free-shipping-congratulatory {
    font-weight: 500;
    color: var(--black);
  }

  .mini-cart__free-shipping-congratulatory {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0;

    &::before {
      content: "";
      width: 16px;
      aspect-ratio: 1;
      display: block;
      background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3334 4L6.00008 11.3333L2.66675 8" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
      background-size: contain;
    }
  }

  .mini-cart__free-shipping-text {
    margin: 0;
    text-align: center;
  }

  .mini-cart__fre-shipping-progress {
    height: 5px;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    margin-top: 8px;
  }

  .mini-cart__note-accordion {
    padding: 16px;
    border-top: 1px solid var(--light-gray);

    @media screen and (min-width: 768px) {
      padding: 16px 24px;
    }

    &.is-open {
      .mini-cart__note-plus {
        transform: rotate(90deg);
      }

      .mini-cart__note-accordion-content {
        max-height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .mini-cart__note-accordion-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    padding: 0;
  }

  .mini-cart__note-accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
  }

  .mini-cart__note-plus {
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  .mini-cart__note-accordion-textarea {
    margin-top: 16px;
    height: 120px;
    border-radius: 32px;
    border: 1px solid #b9b9b9;
    padding: 16px 24px;
    color: var(--medium-gray);
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: inherit;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .mini-cart__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
  }

  .mini-cart__subtotal-price {
    font-size: 18px;

    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }

  .mini-cart__item__controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  .mini-cart__quantity {
    display: inline-flex;
    background: var(--lighter-gray);
    padding: 6px;
    gap: 10px;
    border-radius: 12px;
  }

  .mini-cart__quantity-input,
  .mini-cart__quantity-button {
    width: 28px;
    aspect-ratio: 1;
    min-width: 28px;
  }

  .mini-cart__quantity-input {
    border: none;
    background: none;
    appearance: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  .mini-cart__quantity-button {
    border: 1px solid var(--light-gray);
    background: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--black);

    &[data-action="minus"] {
      &.is-disabled {
        color: var(--medium-gray);
      }
    }
  }

  .mini-cart__loader {
    width: 100%;
    height: 100%;
    background: rgba(256 256 256 / 50%);
    position: absolute;
    inset: 0;
    z-index: 1;

    @media screen and (max-width: 767px) {
      position: fixed;
    }
  }

  .mini-cart__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50px;
    aspect-ratio: 1;
    border: 4px solid var(--white);
    border-top-color: var(--black);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .mini-cart__remove-button {
    background: none;
    display: flex;
    justify-content: flex-end;
    border: none;
    width: 30px;
    aspect-ratio: 1;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      width: 16px;
      height: unset;

      path {
        transition: transform 0.3s ease;
      }
    }

    &:hover {
      .mini-cart__remove-button-svg-cover {
        transform: rotate(-4deg);
      }
    }
  }
}

.mini-cart__button {
  background: none;
  border: none;
  width: 44px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    width: 22px;
    aspect-ratio: 1;
    background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" ><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 12.945312 10.121094 L 14.191406 11.363281 C 14.363281 11.535156 14.363281 11.816406 14.191406 11.988281 C 14.019531 12.160156 13.734375 12.160156 13.5625 11.988281 L 12.320312 10.746094 L 11.074219 11.988281 C 10.902344 12.160156 10.621094 12.160156 10.449219 11.988281 C 10.277344 11.816406 10.277344 11.535156 10.449219 11.363281 L 11.703125 10.121094 L 10.449219 8.875 C 10.277344 8.703125 10.277344 8.421875 10.449219 8.25 C 10.621094 8.078125 10.902344 8.078125 11.074219 8.25 L 12.320312 9.496094 L 13.5625 8.25 C 13.734375 8.078125 14.019531 8.078125 14.191406 8.25 C 14.363281 8.421875 14.363281 8.703125 14.191406 8.875 Z M 6.59375 14.421875 C 6.574219 14.375 6.550781 14.320312 6.539062 14.265625 L 4.882812 6.351562 C 4.867188 6.332031 4.859375 6.304688 4.855469 6.285156 L 4.0625 3.519531 L 2.199219 3.519531 C 1.960938 3.519531 1.761719 3.320312 1.761719 3.078125 C 1.761719 2.839844 1.960938 2.640625 2.199219 2.640625 L 4.730469 2.640625 L 5.492188 5.3125 C 5.515625 5.308594 5.535156 5.300781 5.554688 5.300781 C 5.617188 5.285156 5.679688 5.28125 5.742188 5.28125 L 19.800781 5.28125 C 20.289062 5.28125 20.679688 5.671875 20.679688 6.160156 C 20.679688 6.222656 20.671875 6.277344 20.660156 6.332031 L 19.207031 13.523438 C 19.125 13.90625 18.804688 14.195312 18.40625 14.222656 L 7.460938 14.960938 C 7.410156 14.96875 7.355469 14.96875 7.308594 14.960938 L 6.867188 15.839844 L 18.460938 15.839844 C 18.699219 15.839844 18.898438 16.039062 18.898438 16.28125 C 18.898438 16.519531 18.699219 16.71875 18.460938 16.71875 L 6.152344 16.71875 C 5.828125 16.71875 5.617188 16.375 5.761719 16.082031 Z M 5.742188 6.160156 L 7.40625 14.085938 L 18.34375 13.34375 L 19.800781 6.160156 Z M 7.914062 18.921875 C 7.425781 18.921875 7.03125 18.527344 7.03125 18.039062 C 7.03125 17.550781 7.425781 17.160156 7.914062 17.160156 C 8.394531 17.160156 8.792969 17.550781 8.792969 18.039062 C 8.792969 18.527344 8.394531 18.921875 7.914062 18.921875 Z M 17.578125 18.921875 C 17.089844 18.921875 16.699219 18.527344 16.699219 18.039062 C 16.699219 17.550781 17.089844 17.160156 17.578125 17.160156 C 18.066406 17.160156 18.460938 17.550781 18.460938 18.039062 C 18.460938 18.527344 18.066406 18.921875 17.578125 18.921875 Z M 17.578125 18.921875 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 9.488281 7.128906 L 15.96875 7.128906 L 15.96875 12.691406 L 9.488281 12.691406 Z M 9.488281 7.128906 "/></svg>')
      no-repeat;
    background-size: contain;
  }
}

.mini-cart__bubble {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--black);
  color: var(--white);
  font-size: 9px;
  top: 5px;
  right: 0;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
